body, p, td
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #151515;
	color: #f0a020;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	line-height: 1.6;
	font-size: 16px;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
header
{
	background-color: #541c11;
	padding: 0px 0px 0px 0px;
	position: sticky;
	top: -59px;
	z-index: 100;
	color: #f0a020;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
h1
{
	font-size: 44px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px 0px 0px 0px;
	height: 57px;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2
{
	color: #132d4d;
}
footer
{
	background-color: #132d4d;
	color: #ffecb6;
	text-align: center;
	padding: 10px 0px 10px 0px;
	margin-top: 60px;
	/* position: sticky;
	top: 100vh; */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}
.button
{
	background-color: #0f060e;
	color: #f0a020;
	border: none;
	padding: 12px 35px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	line-height: 1.2;
	font-size: 16px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	transition: background-color, color;
	transition-timing-function: linear;
	transition-duration: 150ms;
}
.button:hover
{
	background-color: #132d4d;
	color: #ffecb6;
}
.social-media-buttons
{
	position: relative;
	width: 80%;
	margin-top: 72px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.social-media-buttons a
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #2b2f33;
	border-radius: 50%;
	font-size: 20px;
	color: #e69500;
	text-decoration: none;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	transform: scale(1.4);
	transition: transform, background-color;
	transition-timing-function: ease;
	transition-duration: 200ms;
}
.social-media-buttons a:hover
{
	background-color: #455161;
	transform: scale(1.6);
}
.header-buttons
{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 15px 0px 15px 0px;
	justify-content: center;
}
.header-buttons a
{
	min-width: 70px;
}
.title
{
	position: relative;
	margin: 22px 0px 0px 0px;
	font-size: 36px;
	font-weight: bold;
	color: #ffecb6;
	text-align: center;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}